<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="poeticDuke" class="com.springinaction.springidol.PoeticJuggler">
		<constructor-arg value="15" />
		<constructor-arg ref="sonnet29" />
	</bean>

	<bean id="sonnet29" class="com.springinaction.springidol.Sonnet29" />

	<bean id="stage" class="com.springinaction.springidol.Stage"
		factory-method="getInstance" />

	<bean id="ticket" class="com.springinaction.springidol.Ticket"
		scope="prototype" />

	<bean id="auditorium" class="com.springinaction.springidol.Auditorium"
		init-method="turnOnLights" destroy-method="turnOffLights" />

	<bean id="kenny" class="com.springinaction.springidol.Instrumentalist">
		<property name="song" value="Jingle Bells" />
		<property name="instrument" ref="saxophone" />
	</bean>

	<bean id="saxophone" class="com.springinaction.springidol.Saxophone" />
	<bean id="piano" class="com.springinaction.springidol.Piano" />

	<bean id="hank" class="com.springinaction.springidol.OneManBand">
		<property name="instruments">
			<list>
				<ref bean="piano" />
				<ref bean="saxophone" />
			</list>
		</property>
	</bean>
</beans>
